// Utilities

$utilities: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(
  (
    // scss-docs-start utils-float
    "float": (
      responsive: true,
      property: float,
      values: (
        start: right,
        end: left,
        none: none,
      )
    ),
    // scss-docs-end utils-float
    // scss-docs-start utils-position
    "start": (
      property: right,
      class: start,
      values: $position-values
    ),
    "end": (
      property: left,
      class: end,
      values: $position-values
    ),
    // scss-docs-end utils-position
    // scss-docs-start utils-borders
    "border-end": (
      property: border-left,
      class: border-end,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    "border-start": (
      property: border-right,
      class: border-start,
      values: (
        null: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color),
        0: 0,
      )
    ),
    // scss-docs-end utils-borders
    // scss-docs-start utils-border-radius
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        6: var(--#{$prefix}border-radius-14px),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-top": (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-top,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        6: var(--#{$prefix}border-radius-14px),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    "rounded-bottom": (
      property: border-bottom-right-radius border-bottom-left-radius,
      class: rounded-bottom,
      values: (
        null: var(--#{$prefix}border-radius),
        0: 0,
        1: var(--#{$prefix}border-radius-sm),
        2: var(--#{$prefix}border-radius),
        3: var(--#{$prefix}border-radius-lg),
        4: var(--#{$prefix}border-radius-xl),
        5: var(--#{$prefix}border-radius-xxl),
        6: var(--#{$prefix}border-radius-14px),
        circle: 50%,
        pill: var(--#{$prefix}border-radius-pill)
      )
    ),
    // scss-docs-end utils-border-radius
    // Margin utilities
    // scss-docs-start utils-spacing
    "margin-end": (
      responsive: true,
      property: margin-left,
      class: me,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-start": (
      responsive: true,
      property: margin-right,
      class: ms,
      values: map-merge($spacers, (auto: auto))
    ),
    // Negative margin utilities
    "negative-margin-end": (
      responsive: true,
      property: margin-left,
      class: me,
      values: $negative-spacers
    ),
    "negative-margin-start": (
      responsive: true,
      property: margin-right,
      class: ms,
      values: $negative-spacers
    ),
    // Padding utilities
    "padding-end": (
      responsive: true,
      property: padding-left,
      class: pe,
      values: $spacers
    ),
    "padding-start": (
      responsive: true,
      property: padding-right,
      class: ps,
      values: $spacers
    ),
    // scss-docs-start utils-text
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: (
        start: right,
        end: left,
        center: center,
      )
    ),
    // scss-docs-end utils-text
    // scss-docs-start utils-border-radius
    "rounded-end": (
      property: border-top-left-radius border-bottom-left-radius,
      class: rounded-end,
      values: (null: var(--#{$prefix}border-radius))
    ),
    "rounded-start": (
      property: border-bottom-right-radius border-top-right-radius,
      class: rounded-start,
      values: (null: var(--#{$prefix}border-radius))
    ),
    // scss-docs-end utils-border-radius
  ),
  $utilities
);

